section {
    max-width: 1420px;
    margin: auto;
    overflow: hidden;
.text {
    padding-top: 20px;
h1 {
        font-size: 42px;
        font-weight: 500;
        color: #1E1E1C;
        line-height: 49.77px;
}
h2 {
            font-size: 20px;
            font-weight: 400;
}
}
.container {
        display: flex;
        gap: 90px;
        .info {
            padding-top: 20px;
        }
}
ul {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-left: 1px;
b {
            font-weight: 300;
            font-size: 16px;
            color: #1E1E1C;
}
}
.contact {
    display: flex;
    gap: 20px;
    padding-top: 40px;
}
.city {
    padding: 32px;
    width: 340px;
    background: #F8F8F8;
    text-align: center;
    h1 {
        font-size: 18px;
        color: #393838;
        font-weight: 500;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        color: #848692;
    }
}
}

@media (max-width: 1024px) {
    section {
        .first_block {
            ul {
                padding-left: 10px;
            }
        }
        .text {
            padding: 0 15px;
            h1 {
                font-size: 24px;
                font-weight: 500;
            }
            h2 {
                font-size: 14px;
                font-weight: 400;
            }
        }
        .container {
            display: grid;
            gap: 10px;
        }
        .contact {
            display: grid;
            gap: 10px;
        }
        .city {
            width: auto;
        }
        .second_block {
            img {
                width: 100%;
            }
        }
    }
}