section {
    margin: auto;
    max-width: 1420px;
    overflow: hidden;
    padding-bottom: 20px;
    .choice {
        display: flex;
        margin: auto;
        align-items: center;
        cursor: pointer;
        justify-content: space-between;
        h1 {
            font-size: 24px;
            font-weight: 400;
            color: #1E1E1C99;
        }
        h2 {
            color: #148142;
            font-weight: 400;
            font-size: 24px;
        }
    }
    .content {
        padding-top: 20px;
        display: grid;
        gap: 20px;
    }
}
.material {
    margin-bottom: 25px;
    padding-top: 35px;
    display: flex;
    gap: 10px;
    img {
        width: 580px;
        height: 480px;
    }
    .text {
        width: 800px;
        padding: 0 15px;
    }
    .price {
        font-size: 16px;
        display: flex;
        gap: 200px;
        align-items: center;
        h1 {
            font-weight: 300;
            display: grid;
        }
        span {
            color:#27AE60;
        }
    }
}

@media (max-width: 1024px) {
    section {
        max-width: 350px;
        margin: auto;
        .choice {
            display: none;
        }
        .content {
            margin: auto;
        }
    }
    .material {
        display: grid;
        img {
                width: 350px;
                height: 225px;
            }
        .text {
            font-size: 14px;
            font-weight: 400;
            width: 330px;
            h1 {
               font-size: 24px; 
            }
        .price {
            gap: 15px;
        }
    }
}}